.loginBoxContainer > img{
  position: absolute;
  width: 22.5rem;
  height: 4.75rem;
  left: 51.25rem;
  top: 12.43rem;
}

.loginBoxContainer div p {
  position: absolute;
  width: 11.93rem;
  height: 2.87rem;
  left: 51.25rem;
  top: 23.18rem;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 46px;
  
  color: var(--white);
}

.loginBoxContainer div img {
  position: absolute;
  width: 19.87rem; 
  height: 3.75rem;
  left: 51.25rem;
  top: 27.56rem;
}

.loginBoxContainer div ::-webkit-input-placeholder {
  color: var(--text-highlight);
}

.loginBoxContainer div button {
  position: absolute;
  width: 21.25rem;
  height: 5rem;
  left: 51.25rem;
  top: 33.81rem;

  background: var(--blue-dark);
  border: 0;
  border-radius : 5px;
  padding: 2rem; 

  color: var(--text-highlight);
  font-size: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.loginBoxContainer div button div{
  margin-right: 1.2rem;
}
